@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
}



.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/ali-lean.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Logo for the website */

#logo {
    font-size: 300%;
    font-family:Parisienne, sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    color: whitesmoke;
    float: left;

}